.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rbc-toolbar {
  height: 50px;
  font-size: 28px;
}

.rbc-time-slot {
  text-align: center;
  color: rgb(90, 89, 89);
}

.rbc-time-header-content {
  height: 100px;
  font-size: 150%;
}

.rbc-header {
  text-align: left;
  color: rgba(69, 157, 197, 0.685);
  height: 60px;
  padding: 15px 5px;
}

.rbc-time-gutter {
  width: 100px;
}

.rbc-row-bg {
  display: none;
}
  